<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.apps.nexuslauncher">

    <uses-permission android:name="com.hdeva.launcher.COMPANION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SmartSpaceCompanionActivity"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.google.android.apps.nexuslauncher.smartspace.SmartspaceBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.apps.nexuslauncher.UPDATE_SMARTSPACE" />
                <action android:name="com.hdeva.launcher.AT_A_GLANCE_FORCE_ENABLE" />
                <action android:name="com.hdeva.launcher.AT_A_GLANCE_PING" />
            </intent-filter>
        </receiver>
    </application>

</manifest>